{% extends "base.html" %}

{% block title %}
{{ recipe.title }} - GenChef Recipe
{% endblock %}

{% block content %}
  <div class="recipe-header2">
    <div class="container-flex">
      <div class="title-wrap-centre">
        <h1 style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="header-h1">Recipe</h1>
      </div>
    </div>
  </div>
  <div class="recipe-options-content-section">
    <div class="recipe-container">
      <div class="w-layout-grid content-grid">
        <div class="content-block">
          <h2 class="recipe-title">{{ recipe.title }}</h2>
        </div>
        <p class="recipe-description">{{ recipe.description }}</p>
        <ul id="w-node-b3b0befc-270a-c9e3-517b-f7a1b0b3a004-dd6c9d4a" role="list" class="recipecoreinglist">
          {% for ingredient in recipe.ingredients %}
          <li class="core-recipe-ing-list-item">{{ ingredient }}</li>
          {% endfor %}
        </ul>
        <ol id="w-node-_92252d19-1146-189b-ea4c-7610f66712ae-dd6c9d4a" role="list">
          {% for instruction in recipe.instructions %}
          <li class="core-recipe-inst-list-item">{{ instruction }}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
    <div class="savepdf">
      <a href="#" class="button-4 w-button">Save as PDF</a>
    </div>
  </div>
  <div class="recipe-suggestion-div">
    <div class="w-form">
      <form id="email-form" name="email-form" data-name="Email Form" method="get" data-wf-page-id="66e70ba74f137113dd6c9d4a" data-wf-element-id="4ae3f1ed-d359-4e5a-3ac1-f0c034f00cf8">
        <div class="form-field suggestion"><label for="name" id="w-node-_886d1bf0-0659-350e-09f0-8fb06a014d6c-dd6c9d4a" class="recipe-suggestion">Suggest an Edit</label>
          <div data-hover="true" data-delay="0" id="w-node-_886d1bf0-0659-350e-09f0-8fb06a014d6e-dd6c9d4a" class="field-tooltip w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="recipe-suggestion recipe-suggestion-tooltip">ⓘ</div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <div data-cy="step5" class="tooltip-wrapper">
                <div class="tooltip-container">
                  <div class="tooltip-title">Make an Edit to your Recipe</div>
                  <div class="relative">Ask ChefGen to make an adjustment like:<br>- &quot;Bake the potatoes instead of Frying&quot;<br>- &quot;Adjust Recipe size to 4 instead of 8&quot;<br>- &quot;Add Mushrooms to this&quot;<br>- &quot;Explain how to fry the onions more&quot;<br></div>
                </div>
                <div class="tooltip-diamond bottom"></div>
              </div>
            </nav>
          </div>
        </div><input class="w-input" maxlength="256" name="recipe-suggestion" data-name="recipe-suggestion" placeholder="Add/Remove Ingredients, modify dish format, size or anything else..." type="text" id="recipe-suggestion" required="">
        <div class="div-block-6"><input type="submit" data-wait="Please wait..." class="button-2 w-button" value=""></div>
      </form>
      <div class="w-form-done">
        <div>Yes Chef!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
  <div class="recipe-suggestion-div">
    <div>
      <div class="recipe-suggestion plssignin">Sign-In to suggest &amp; make edits to the recipe</div>
    </div>
  </div>
{% endblock %}